{% include header.html %}
<main id="main-content" class="grid-container">
    {{ content }}
    {% if page.resources %}
        {% include resource-accordion.html %}
    {% endif %}
    <div class="grid-row">
        <div class="grid-col mobile-lg:grid-col-auto padding-right-05">
          <a href="{{ page.back }}" id="exitBackButton" class="usa-button usa-button--outline">Back to question</a>
        </div>
        <div class="grid-col mobile-lg:grid-col-auto padding-left-05">
            <button class="usa-button usa-tooltip" data-position="top" title="You've reached the end of the prototype.😁">Continue to filing</button>
        </div>
    </div>
</main>
{% include footer.html %}