{% include header.html %}
<main id="main-content" class="grid-container">
    {{ content }}
    {% if page.title == "Exit Question 1" %}
    <div class="usa-accordion margin-bottom-2">
        {% for resource in site.resources %}
        <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button" aria-expanded="false" aria-controls="resource{{ forloop.index }}">
                {{ resource.title }}
            </button>
        </h2>
        <div id="resource{{ forloop.index }}" class="usa-accordion__content">
            {{ resource.content | markdownify }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="grid-row">
        <div class="grid-col mobile-lg:grid-col-auto padding-right-05">
          <a href="{{ page.back }}" id="exitBackButton" class="usa-button usa-button--outline">Back to question</a>
        </div>
        <div class="grid-col mobile-lg:grid-col-auto padding-left-05">
            <button class="usa-button usa-tooltip" data-position="top" title="You've reached the end of the prototype.😁">Continue to filing</button>
        </div>
    </div>
</main>
{% include footer.html %}