{% include header.html %}
    <section class="complaint-screener-hero">
        <div class="grid-container">
            <div class="usa-card__container border-0 opacity-90 width-full margin-0">
                <header class="usa-card__header">
                <h1 class="text-primary-vivid">{{ site.title }}</h1>
                </header>
            </div>
        </div> 
    </section>
    <main id="main-content" class="grid-container">
        {{ content }}
        <!-- {% include list-of-pages.html %} -->
    </main>
    {% include footer.html %}