{% include header.html %}
  <main id="main-content" class="grid-container">
    {% include step-indicator.html %}
    {% assign input = page.type %}
    {% case input %}
    {% when "radio" %}
        {% include radio.html %}
    {% else %}
        This is not a cake nor a cookie
    {% endcase %}
    <a href="#back" id="backButton" class="usa-button usa-button--outline margin-top-3">Back</a> <a href="#next" id="nextButton" class="usa-button">Next</a>
    {% include list-of-pages.html %}
  </main>
  {% include footer.html %}