{% include header.html %}
  <main id="main-content" class="grid-container">
    {% include step-indicator.html %}
    {% assign input = page.type %}
    {% case input %}
    {% when "radio" %}
        {% include radio.html %}
    {% else %}
        This is not a cake nor a cookie
    {% endcase %}
    <div class="grid-row grid-gap">
      <div class="grid-col mobile-lg:grid-col-auto">
        <a href="#back" id="backButton" class="usa-button usa-button--outline">Back</a>
      </div>
      <div class="grid-col mobile-lg:grid-col-auto">
        <a href="#next" id="nextButton" class="usa-button">Next</a>
      </div>
    </div>
    {% include list-of-pages.html %}
  </main>
  {% include footer.html %}