{% include header.html %}
  <main id="main-content" class="grid-container">
    {% include step-indicator.html %}
    {% assign input = page.type %}
    {% case input %}
    {% when "radio" %}
        {% include radio.html %}
    {% else %}
        <!-- For a future version, other input types can be incorporated. -->
    {% endcase %}
    <div class="grid-row">
      <div class="grid-col mobile-lg:grid-col-auto padding-right-05">
        <a href="#back" id="backButton" class="usa-button usa-button--outline">Back</a>
      </div>
      <div class="grid-col mobile-lg:grid-col-auto padding-left-05">
        <a href="#next" id="nextButton" class="usa-button">Next</a>
      </div>
    </div>
    <!-- {% include list-of-pages.html %} -->
  </main>
  {% include footer.html %}